* {
    font-family: 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #8DB596;
}

header {    
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background-color: #8DB596;
    position: sticky;
}

.logo {
    height: 50px;
    width: 50px;
    padding: 0.5 rem;
}

nav img {
    width: 100%;
    height: 100%;
    border-radius: 10 px;
}

nav {
    min-height: 6vh;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #92817A;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    color: white;
    background-color: #00425a;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 8rem;
    height: 2.5rem;

}

a:hover {
    transform: scale(1.0) rotate(0deg);
    color: #BFDB38;
    background-color: #1F8A70;
}

.active {
    background-color: #FC7300;
}

h1{
    font-family: 'Stencil Std', 'fantasy';
}

h2 {
    padding-top: 0.5rem;
    text-align: center;

}

h3 {
    padding-bottom: 4rem;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main img {
    height: 200px;
    width: 200px;
    padding: 1rem;
    border-radius: 50%;
}

article {
    padding-top: 1rem;
}

p {
    padding-top: 0.5rem;
}

footer {
    background-color: #665A48;
    text-align: center;
}


.tabla {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

table {
    table-layout: fixed;
}

td {
    padding: 0.8rem;
}

th {
    padding: 0.5rem;
}

li {
    padding: 0.3rem;
}

ol,
ul {
    padding: 1rem;
}

.espacio {
    padding-right: 8rem;
}

form {
    border: 2px solid #00425a;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.2rem;
}

fieldset {
    padding: 1rem;
    border: none;
}


label {
    padding: 0.8rem;
    gap: 1rem;
}

form p,
h4,
h5 {
    padding: 1rem;
}

form h2 {
    padding: 1rem;
}

form select {
    padding: 0.5rem;
    border-radius: 1rem;
}

.btn {
    padding: 1rem;
    border-radius: 5rem;
    border-color: white;
    font-size: large;
    background-color: #f9811e;
}

iframe {
    border-radius: 1rem;
    border: 2px solid white;
    margin: 1rem;
}

.mapas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

aside img {
    height: 200px;
    width: 200px;
}