* {
    font-family: 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F0EBE3;
}

header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background-color: #68A7AD;
    position: fixed;
}

.logo {
    height: 50px;
    width: 50px;
    padding: 0.5 rem;
}

nav img {
    width: 100%;
    height: 80%;
    border-radius: 10 px;
}

nav {
    min-height: 6vh;
    display: flex;
    gap: 1rem;
    padding: 0.2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F0EBE3;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    color: white;
    background-color: #7D9D9C;
    border: 1px solid #576F72;
    background-color: #A2B29F;
    border-radius: 0.5rem;
    width: 8rem;
    height: 2.5rem;

}

nav a:hover {
    transform: scale(1.1) rotate(0deg);
    padding: 0.5rem;
    border: solid 2px #7F7C82;
    background-color: #064420;

}

.active {

    background-color: #11324D;
}

h1 {
    font-family: 'Stencil Std', 'fantasy';
    text-align: center;
    margin-bottom: 1rem;

}

h2 {
    padding-top: 0.5rem;
    text-align: center;
}

h3 {
    padding-left: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main img {
    height: 200px;
    width: 200px;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 50%;

}

p {
    padding-top: 0.2rem;
    width: auto;
}

footer {
    background-color: #7882A4;
    text-align: center;
}

.tabla {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

table {
    table-layout: fixed;
    border: 1px solid black
}

td {
    padding: 2rem;
    border: 1px solid black
}

th {
    padding: 0.5rem;
    border: 1px solid black
}

li {
    padding: 0.3rem;
    padding-bottom: 0.5rem;
}

ol,
ul {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

.espacio {
    padding-right: 8rem;
}

form {
    border: 2px solid #00425a;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.2rem;
}

fieldset {
    padding: 1rem;
    border: none;
}


label {
    padding: 0.8rem;
    gap: 1rem;
}

form p,
h4,
h5 {
    padding: 1rem;
}

article {
    padding-top: 1rem;
}

article p {
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

#index {
    width: 85%;
}

#about {
    margin-right: 2rem;
}

#index,
#about,
#contact,
#gameInfo {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 2rem;
    margin-left: 3rem;
}
#gameInfo{
    margin-right: 3rem;
}

#p{
    padding-top: 2rem;
}

#contact p{
    margin-left: 3rem;
}

#rules {
    width: fit-content;
}

#rules h2{
    margin-top: 0.5rem;
    padding-bottom: 2rem;
}

#rules h3 {    
    margin-bottom: 0.5rem;
}

#rules article {
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 2rem;
}

form h2 {
    padding: 1rem;
}

form select {
    padding: 0.5rem;
    border-radius: 1rem;
}

.btn {
    padding: 1rem;
    margin-left: 16rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border-color: #7882A4;
    color: #F0EBE3;
    width: 20rem;
    font-size: large;
    background-color: #064420;
}

.btn:hover {
    transform: scale(1.1);
    padding: 0.5rem;
    padding: 1rem;
    margin-left: 16rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: solid 2px #7F7C82;
    background-color: #00425a;

}

#school {
    width: 15rem;
    margin-left: 2rem;
}

#info h2{
    padding-top: 3rem;
    padding-bottom: 1rem;
}

iframe {
    border-radius: 1rem;
    border: 2px solid white;
    margin: 1rem;
}

.mapas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.mapas div{
    border: solid 1px #576F72;
    border-radius: 2rem;
    margin: 0.3rem;
    text-align: center;
}
