* {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #CEEDC7;
}

header {
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #86C8BC;
}

header img {
    width: 100%;
    height: 100%;

}
.logo{
        height: 80px;
        width: 80px;

}

nav {
    min-height: 6vh;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #86C8BC;
    
}
nav a {
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    color: white;
    background-color:#00425a;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 8rem;
    height: 2.5rem;

}

a:hover{
    transform: scale(1.0) rotate(0deg);
    color: #BFDB38;
    background-color: #1F8A70;
}
.active {
    background-color: #FC7300;
}

h2 {
    padding-top: 1rem;
    text-align: center;

}
h3{
    padding-bottom: 4rem;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}
article{
    padding-top: 1rem;
}
p{
    padding-top: 0.5rem;
}
footer{
    background-color: #FFD4B2;
    text-align: center;
}


.tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
table{
    table-layout: fixed;
}

td{
    padding: 0.8rem;
}
th{
    padding: 0.5rem;
}
li{
    padding: 0.3rem;
}
ol,ul{
    padding: 1rem;
}

